/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background: url('/images/img.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

/* Header */
h1 {
    color: white;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to make text more readable */
}

/* Client list */
ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
}

.progress-details p {
    margin: 10px 0;
    font-size: 18px;
}

.form-group {
    margin-bottom: 15px;
}

li {
    background-color: rgba(119,136,153, 0.8); /* Make background semi-transparent */
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: black; /* Ensure text color is appropriate for the background */
}

li:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: White;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00008b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00009b;
}
